{% extends 'base.html' %}

{% block content %}
	<h3>{{ contact.first_name }} {{ contact.last_name }}</h3>

	{% if contact %}
	<ul>

		{% if contact.email %}
			<li>{{ contact.email }}</li>
		{% endif %}

		{% if contact.cell_phone %}
			<li>{{ contact.cell_phone }}</li>
		{% endif %}

		{% if contact.home_phone %}
			<li>{{ contact.home_phone }}</li>
		{% endif %}

		{% if contact.work_phone %}
			<li>{{ contact.work_phone }}</li>
		{% endif %}

		{% if contact.address %}
			<li>{{ contact.address }}</li>
		{% endif %}

		{% if contact.city %}
			<li>{{ contact.city }}</li>
		{% endif %}

		{% if contact.state %}
			<li>{{ contact.state }}</li>
		{% endif %}

		{% if contact.zipcode %}
			<li>{{ contact.zipcode }}</li>
		{% endif %}

		{% if contact.date_added %}
			<li>{{ contact.date_added }}</li>
		{% endif %}

	</ul>
	{% else %}
		<p>No contact available</p>
	{% endif %}

{% endblock %}
